.expense-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #2a2a2a;
    color: #fff;
    border: solid 1px #ececec;
}

.expense-date__mounth{
    font-size: .75rem;
    font-weight: 700;
}

.expense-date__year{
    font-size: 0.75rem;
}

.expense-date__day {
    font-size: 1.5rem;
    font-size: 700;
}