.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0.5rem;
    background: #4b4b4b;
}

.expense-item__desc {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-item__title {
    font-size: 1.25rem;
    color: #fff;
    margin: 0 1rem;
    flex: 1;
}

.expense-item__amount {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: #40005d;
    padding: 0.5rem;
    border: solid 1px #fff;
    border-radius: 12px;
}

@media (max-width: 580px) {
    .expense-item__desc{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}